

/*General Menu Styling*/
.mainnav {
    margin: 0 auto
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
}

.dropdown {
    position: absolute;
    width: 230px;
    top: 41px;
    opacity: 0;
    visibility: hidden;
    transition: ease-out .35s;
    -moz-transition: ease-out .35s;
    -webkit-transition: ease-out .35s;
}

.mainnav li {
    float: left;
    padding: 5px;
    background: var(--blue);
    border-left: 1px dotted #fff;
}

.mainnav li:first-child {
    border: none;
}

.mainnav li a {
    display: block;
    padding: 2px 20px;
    color: #fff;
    font-family: arial;
}

.mainnav li:hover {
    background: var(--red);
    transition: ease-in .35s;
    -moz-transition: ease-in .35s;
    -webkit-transition: ease-in .35s;
}

.mainnav li:hover a {
    color: var(--blue);
    transition: ease-in .35s;
    -moz-transition: ease-in .35s;
    -webkit-transition: ease-in .35s;
    color: white;
}

/*First Level*/
.subs {
    left: -15px;
    position: relative;
    top: -8px;
    width: 245px !important;
    width: fit-content;
    border-left: none !important;
    border-bottom: 1px dotted #fff !important;
    background-color: var(--blue);
  
}

.subs:last-child {
    border: none !important;
}

.hassubs:hover .dropdown,
.hassubs .hassubs:hover .dropdown {
    opacity: 1;
    visibility: visible;
    transition: ease-in .35s;
    -moz-transition: ease-in .35s;
    -webkit-transition: ease-in .35s;
}

.mainnav li:hover ul a,
.mainnav li:hover ul li ul li a {
    color: white;
}

.mainnav li ul li:hover,
.mainnav li ul li ul li:hover {
    background:var(--red);
    color: white;
    transition: ease-in-out .35s;
    -moz-transition: ease-in-out .35s;
    -webkit-transition: ease-in-out .35s;
   
}

.mainnav li ul li:hover a,
.mainnav li ul li ul li:hover a {
    transition: ease-in-out .35s;
    -moz-transition: ease-in-out .35s;
    -webkit-transition: ease-in-out .35s;
}

/*Second Level*/
.hassubs .hassubs .dropdown .subs {
    left: 110px;
    position: relative;
    width: 200px;
    top: 0px;
}

.hassubs .hassubs .dropdown {
    position: absolute;
    width: 150px;
    left: -356px;
    top: 0px;
    opacity: 0;
    visibility: hidden;
    transition: ease-out .35s;
    -moz-transition: ease-out .35s;
    -webkit-transition: ease-out .35s;
}

/* Adjust the last menu item within the dropdown */



