@media only screen and (max-width:1100px){
    .for-mobile{
        display: initial;
        color: white;
        text-decoration: none;
    }
    .navigation-menu>.mainnav>li{
        display: none;
        
    }

    .slider-at-a-glance-wrapper{
        flex-direction: column;
    }
    .slider{
        width: 100%;
        max-width: 100%;
        height: auto;
        margin: 0px;
    }
    .positiondiv{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .positiondiv>.profile-div{
        width: fit-content;
        margin-top: 10px;
     
    }
    .tab1>.title-div{
    }
    .tab1>.title-div>ul{
    
    }
    .nirnaya-facebook-page{
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .nirnaya{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: auto;
        width: 100%;
    }

    .nirnaya-card{
        max-height: fit-content;
        height: fit-content;
        margin-top: 20px;
        margin-right: 5px;
        margin-left: 5px;
    }
    .facebook-page{
        display: none;
    }
    .for-mid{
        display: initial;
        margin-top: 20px;
    }
    .footer-details{
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-details>div{
        margin-top: 10px;
    }
    .prabakta>div{
        flex-wrap: wrap;
    }
    
}

@media only screen and (max-width:970px){
    .about{
        width: 99%;
        max-width: 100%;
    }
    .at-a-glance{
        display: none;
    }
    .important-links{
        display: none;
    }

}